{% extends 'base.html' %}
{% block content %}
<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Colleges</h4>
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    {% if object %}Update College{% else %}Add College{% endif %}
                </div>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {% include 'includes/form.html' %}
                    <button type="submit" class="btn btn-primary btn-rounded">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
