{% extends 'base.html' %}
{% block content %}
<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Programs</h4>
        <div class="card">
            <div class="card-header"><div class="card-title">Delete Program</div></div>
            <div class="card-body">
                <form method="post">
                    <p>Are you sure you want to delete "{{ object }}"?</p>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-rounded">Confirm Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
