{% extends 'base.html' %}
{% block content %}
<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Programs</h4>
        <div class="card">
            <div class="card-header">
                <div class="card-title">List of Programs</div>
            </div>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-md-6">
                        <a href="{% url 'program-add' %}" class="btn btn-success btn-rounded">Add Program</a>
                    </div>
                    <div class="col-md-6">
                        <form method="get" class="row g-2 align-items-center justify-content-end">
                            <div class="col-auto">
                                <label for="smallSelect" class="col-form-label">Sort by</label>
                            </div>
                            <div class="col-auto">
                                <select class="form-control form-control-sm" id="smallSelect" name="sort_by">
                                    <option value="prog_name" {% if request.GET.sort_by == "prog_name" %}selected{% endif %}>Program Name</option>
                                    <option value="college__college_name" {% if request.GET.sort_by == "college__college_name" %}selected{% endif %}>College</option>
                                </select>
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-primary btn-sm btn-rounded">Sort</button>
                            </div>
                        </form>
                    </div>
                </div>

                <table class="table table-striped mt-3">
                    <thead>
                        <tr>
                            <th>Program Name</th>
                            <th>College</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for object in object_list %}
                        <tr>
                            <td>{{ object.prog_name }}</td>
                            <td>{{ object.college.college_name }}</td>
                            <td>
                                <a href="{% url 'program-update' object.id %}">Edit</a>
                                <a href="{% url 'program-delete' object.id %}" class="text-danger">Delete</a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="3" class="text-center">No Records Found</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% include 'includes/pagination.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
